.container
.square {
    box-sizing: border-box;
    /* border: 1px dotted black; */
}
/* .square {
    width: 20px;
    height: 20px;
} */

.container {
    display: flex;
}

/* .hit {
    background: black;
} */
